@font-face {
  font-family: 'SpaceGrotesk';
  src: url('/fonts/SpaceGrotesk.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.navbar {
  display: flex;
  padding: 1rem 2rem;
  background-color: transparent;
}

.container {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
}

.navbarButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;

  .navLink {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 1rem;
    transition: color 0.3s ease;

    &:hover {
      color: #666;
    }
  }

  .requestButton {
    a {
      display: inline-block;
      padding: 0.75rem 1.5rem;
      background-color: transparent;
      color: #000;
      border: 1px solid #000;
      border-radius: 14px;
      text-decoration: none;
      font-size: 1rem;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #B9FF66;
        scale: 1.05;
        transition: ease-in-out 0.1s;
        color: black;
      }
    }
  }
}